@import "tailwindcss";

@layer base {
    :root {
        --text: #080203;
        --background: #fdf7f7;
        --primary: #ca3f51;
        --secondary: #96e3df;
        --accent: #6b6dd6;
    }
    .dark {
        --text: #fdf7f8;
        --background: #080202;
        --primary: #c03547;
        --secondary: #1c6965;
        --accent: #292a94;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--text);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--text);
    font-family: "Rethink Sans", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #155dfc;
    border-radius: 10px;
}
