@import "tailwindcss";

@layer base {
    :root {
        --text: #080203;
        --background: #fdf7f7;
        --primary: #ca3f51;
        --secondary: #96e3df;
        --accent: #6b6dd6;
        --pre-bg: black;
    }
    .dark {
        --text: #fdf7f8;
        --background: #080202;
        --primary: #c03547;
        --secondary: #1c6965;
        --accent: #292a94;
        --pre-bg: #1d1c1c;
    }
    pre {
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: auto;
        background-color: var(--pre-bg);
        color: white;
        padding: 10px;
        border-radius: 6px;
    }
    code {
        overflow: auto;
        padding: 0px 2px;
        background-color: var(--pre-bg);
        color: white;
        display: inline-flex;
    }
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--text);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--text);
    font-family: "Rethink Sans", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ca3f51;
    border-radius: 10px;
}

.all-model-scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 8px;
}

.all-model-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
    border-radius: 20px;
}

pre::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

pre::-webkit-scrollbar-thumb {
    background-color: #ca3f51;
    border-radius: 10px;
}
